body {

    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    background-color: antiquewhite;
    color: black;

}

header {
    background-color: #4e3629;
    color: antiquewhite;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #6a4f37;
    text-align: center;
    padding: 12px;
}

nav a {
    color: burlywood;
    text-decoration: none;
    padding: 13px;
    border-radius: 5px;
}

nav a:hover {

    border-top: solid 5px bisque;
    background-color: rgb(131, 95, 66);
    color: blanchedalmond;
    

}

main {
    width: 80%;
    margin: 30px auto;
    
}

section {
   
    border-radius: 10px;
    background-color: #fff6ea;
    padding: 25px;  /*Espaço abaixo da cada section*/
    margin-bottom: 25px;
    border: 1px solid #4e3629;
}

section a {
    color: #4e3629;
    text-decoration: none;
}
section a:hover {
    color: darkred;
}
section div {
    border:1px solid #4e3629;
    border-radius: 10px;
    background-color: blanchedalmond;
    margin :5px;
    padding: 10px;
    text-align: left;
}

.cardapio{
    
    
    border-left: 7px solid #6a4f37;
    padding: 15px;
    margin: 15px 0;
}

#contato {
    text-align: center;
}

footer {
    padding: 5px;
    background-color: #4e3629;
    color: burlywood;
    text-align: center;


}