body{

    font-family: 'Times New Roman', Times, serif,sans-serif;
    margin: 0;
    background-color: antiquewhite;
    color: black;
    
}
header{
    background-color:  #4e3629;
    color: antiquewhite;
    text-align: center;
    padding: 25px;
}

nav{
    background-color: #6a4f37;
    text-align: center;
    padding: 12px;
}
nav a{
    color: burlywood;
    margin: 15px;
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    
    border-top: solid 5px bisque ;
    color:antiquewhite;
    
}
main{
    width: 80%; 
    margin: 30px auto;
}
section{
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 25px;/*Espaço abaixo da cada section*/
    border: 1px solid darkgray;
}
.botao{
    border-radius: 15px;
    background-color:h;
    color: lightcyan;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;

}

.servico{
    background-color: antiquewhite;
    border-left: 4px solid #6a4f37;
    padding: 15px;
    margin: 15px 0;
}
#contato{
    text-align: center;
}
footer{
    background-color: #4e3629;
    color: burlywood;   
    text-align: center;
    padding: 10px;

}